.about {
  &__item {
    &-num {
      span {
        font-family: $g-bold;
        font-size: 90px;
        line-height: 1.1;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        background: linear-gradient(180deg, #FF5150 40%, #ED2B2A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include r(1200) {
          font-size: 50px;
        }
      }
    }
    &-ttl {
      font-family: $g-bold;
      font-size: 24px;
      line-height: 1.1;
      @include r(1200) {
        font-size: 16px;
      }
    }
  }
}