.benefits {
  position: relative;
  &__decor {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .container {
    position: relative;
  }
  &__col {
    position: relative;
  }
  &__item {
    &-top {
      font-size: 22px;
      line-height: 1.2;
      color: #fff;
      padding: 10px 20px;
      background-color: $dark;
    }
    &-descr {
      font-size: 19px;
      padding: 30px;
      background-color: #fff;
      @include r(1200) {
        font-size: 15px;
        padding: 15px;
      }
    }
  }
  &__dude {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-height: 1000px;
    &-wrp {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}