.crumbs {
  list-style: none;
  padding: 15px 0 0;
  li {
    display: inline-block;
    &:not(:last-child) {
      position: relative;
      margin-right: 15px;
      a {
        color: $red;
        text-decoration: underline;
        &:hover {
          opacity: .7;
        }
      }
      &::after {
        position: absolute;
        content: '';
        width: 8px;
        height: 7px;
        background-image: url('../img/crumbs__decor.png');
        @include ct;
        left: calc(100% + 7px);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}