.footer {
  color: #fff;
  background-image: url('../img/footer__bg.jpg');
  @include cv;
  padding: 40px 0;
  &__ttl {
    font-family: $g-bold;
    font-size: 24px;
    margin-bottom: 10px;
    @include r(1200) {
      font-size: 18px;
      margin-bottom: 8px;
    }
  }
  &__list {
    &-item {
      font-size: 19px;
      color: #fff;
      border-bottom: 1px solid #fff;
      &:not(:last-child) {
        margin-bottom: 6px;
      }
      @include r(600) {
        text-align: center;
      }
      @include r(1200) {
        font-size: 16px;
      }
    }
  }
  &__soc-link {
    &:not(:last-child) {
      margin-right: 20px;
    }
    svg {
      fill: #fff;
      @include ease;
    }
    &:hover {
      svg {
        fill: $red;
      }
    }
  }
  &__geo {
    font-size: 18px;
    svg {
      fill: #fff;
    }
  }
  &__tel {
    font-family: $g-bold;
    font-size: 35px;
    color: #fff;
    margin-bottom: 15px;
  }
  &__btn {
    width: 250px;
  }
  &__logo {
    &:hover {
      opacity: .8;
    }
  }
  &__creator {
    svg {
      fill: #fff;
      @include easeinout;
    }
    a:hover {
      svg {
        fill: #9423c9;
      }
    }
  }
}