.header {
  position: fixed;
  color: #fff;
  top: 0;
  width: 100%;
  z-index: 10;
  @include easeinout;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.9);
    backdrop-filter: blur(30px);
    @include ease;
    opacity: 0;
    transform: translateY(-10px);
  }
  .container {
    position: relative;
  }
  &__top {
    padding: 20px 0;
    @include r(1200) {
      padding: 10px 0;
    }
    &-logo {
      @include r(1200) {
        svg {
          width: 90px;
          height: 35px;
        }
      }
      &:hover {
        opacity: .7;
      }
    }
  }
  &__soc-link {
    &:not(:last-child) {
      margin-right: 20px;
    }
    svg {
      fill: #fff;
      @include ease;
    }
    &:hover {
      svg {
        fill: $red;
      }
    }
  }
  &__geo {
    font-size: 18px;
    svg {
      fill: #fff;
    }
  }
  &__tel {
    font-size: 20px;
    font-family: $g-med;
    color: #fff;
    svg {
      fill: #fff;
    }
  }
  &__bot {
    position: relative;
    padding: 18px 0;
    @include easeinout;
    @include rmin(1200) {
      display: block !important;
    }
    @include r(1200) {
      display: none;
      width: 100%;
      height: 100%;
      background: rgba(41, 41, 41, 0.9);
      backdrop-filter: blur(30px);
      padding: 25px;
    }
    hr {
      border-bottom: 4px solid #858585;
      flex-basis: 60px;
      opacity: 1;
      @include easeinout;
      @include r(1200) {
        flex-basis: auto;
        width: 100%;
      }
    }
    &-logo {
      @include rmin(1200) {
        position: absolute;
        left: 0;
        top: 50%;
        transform: scale(0) translateY(-50%);
        opacity: 0;
        @include easeinout;
        &:hover {
          opacity: .7 !important;
        }
      }
    }
  }
  &__nav {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    @include easeinout;
    @include r(1200) {
      width: 100%;
    }
    &-link {
      position: relative;
      font-size: 17px;
      text-transform: uppercase;
      color: #fff;
      padding-top: 8px;
      padding-bottom: 8px;
      @include r(1200) {
        display: block;
        text-align: center;
      }
      &:hover {
        color: #fff;
        text-shadow: 0 1px 1px #f2f2f2;
        &::before {
          width: 130%;
          @include r(1200) {
            max-width: 300px;
            width: 80%;
          }
        }
      }
      &::before {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        width: 0;
        height: 2px;
        background-color: $red;
        transform: translate(-50%,-50%);
        @include ease;
      }
      span {
        position: relative;
      }
      &-wrp {
        position: relative;
        text-align: center;
        flex-grow: 1;
        @include r(1200) {
          margin-bottom: 15px;
        }
        &::after {
          position: absolute;
          content: '';
          background-image: url('../img/header-nav__decor.png');
          @include ct;
          width: 8px;
          height: 8px;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          @include r(1200) {
            display: none;
          }
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
        &--has-drop {
          @include rmin(1200) {
            &:hover {
              .header__nav {
                &-link {
                  color: #fff;
                  text-shadow: 0 1px 1px #f2f2f2;
                  &::before {
                    width: 130%;
                    @include r(1200) {
                      width: 80%;
                    }
                  }
                }
                &-drop {
                  visibility: visible;
                  opacity: 1;
                  transform: translateY(0);
                }
              }
            }
          }
        }
      }
    }
    &-drop {
      position: absolute;
      text-align: left;
      top: calc(100% + 6px);
      width: 100%;
      max-width: 260px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      @include easeinout;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-5px);
      @include r(1200) {
        position: relative;
        top: auto;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: none;
      }
      &-link {
        font-family: $g-reg;
        font-size: 15px;
        padding: 5px 10px;
        @include r(1200) {
          display: block;
        }
        &:hover {
          color: $dark;
          background-color: #E8E8E8;
        }
      }
    }
  }
  &__hamburger {
    position: relative;
    width: 35px;
    height: 30px;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    display: none;
    @include r(1200) {
      @include flex-center;
    }
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: #fff;
      left: 0;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
  }
}
.sticky-header {
  .header {
    @include rmin(1200) {
      transform: translateY(-90px);
      hr {
        flex-basis: 0;
      }
      &__bot {
        padding-left: 113px;
        &-logo {
          transform: scale(1) translateY(-50%);
          opacity: 1;
        }
      }
      &__nav {
        transform: translateX(65px);
      }
    }
    &::before {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
