.serv {
  &__item {
    font-family: $g-reg;
    &-img {
      width: 100%;
      height: 215px;
      margin-bottom: 10px;
      @include cv;
      @include r(1200) {
        height: 150px;
      }
    }
  }
}