.btn {
  position: relative;
  font-size: 16px;
  font-family: $g-reg;
  text-align: center;
  text-shadow: 0px -1px 0px #EE2C2B;
  display: inline-block;
  outline: none;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 40px;
  background: linear-gradient(180deg, #FF5150 0%, #ED2B2A 100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  @include ease;
  &:hover {
    color: #fff;
    box-shadow: 0 0 35px 0 #f84241, 0 10px 10px rgba(0, 0, 0, 0.25), inset 0px 2px 0px rgba(255, 255, 255, 0.8);
  }
  &--big {
    padding-left: 40px;
    padding-right: 40px;
    @include r(1200) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &--yel {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
    color: $dark;
    background: linear-gradient(180deg, #FFDB60 0%, #F5B810 100%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid $tr;
    &:hover {
      color: $dark;
      background: linear-gradient(180deg, #FFDB60 0%, #F5B810 100%);
      border: 1px solid #BC7F00;
      box-shadow: 0 0 35px 0 rgba(255,138,0,1), 0 10px 10px rgba(0, 0, 0, 0.25), inset 0px 2px 0px rgba(255, 255, 255, 0.8);
    }
  }
  &--wt {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
    color: $dark;
    background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    &:hover {
      color: $dark;
    }
  }
  &--watch {
    background: none;
    border: none;
    box-shadow: none;
    &:hover {
      transform: scale(.9);
    }
  }
}