.checkbox {
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  width: 70px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 40px;
  &__input {
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 100%;
    cursor: pointer;
    &:checked + .checkbox__circle {
      transform: translate( 100%, -50%);
      background: linear-gradient(180deg, #FFDB60 0%, #F5B810 100%);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    }
  }
  &__circle {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: #C4C4C4;
    border-radius: 50%;
    @include easeinout;
  }
}
input[type="checkbox"],
input[type="radio"] {
  &:checked + .checkbox__text,
  &:checked + .checkbox__text {
    &::after {
      opacity: 1;
      transform: scale(1);
    }
    &::before {
      background-color: #fff;
    }
  }
}