$g-ulight: 'GTEestiProDisplay-UltraLight';
$g-thin: 'GTEestiProDisplay-Thin';
$g-light: 'GTEestiProDisplay-Light';
$g-reg: 'GTEestiProDisplay-Regular';
$g-med: 'GTEestiProDisplay-Medium';
$g-bold: 'GTEestiProDisplay-Bold';
$g-ubold: 'GTEestiProDisplay-UltraBold';

.bold {
  font-family: $g-bold;
}

