.select2-container--open .select2-selection__arrow {
  transform: scaleY(-1);
}

.select2-container--open .select2-dropdown {
  top: 3px;
}

.select2-container--open .select2-dropdown--below {
  border: none;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 0;
}

.select2-container--default {
  min-width: 270px;
  flex-grow: 1;
}

.select2-container--default .select2-selection--single {
  height: 40px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #fff;
  background: none;
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  line-height: 35px;
  padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url("../img/icon-arrow--select.svg");
  @include easeinout;
  top: 5px;
  background-position: 100% 50%;
  background-size: 19px;
  background-repeat: no-repeat;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container--default .select2-results__option {
  @include ease;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #E8E8E8;
  color: $dark;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #E8E8E8;
  color: $dark;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
  width: 10px;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
  background-color: #E5E5E5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
  background-color: $yel;
  border-radius: 5px;
}