<section class="about section--inner">
    <div class="container">
        <div class="section__ttl">Почему мы?</div>
        <div class="row">
            <div class="col-xl-3 col-6 mb-3 mb-xl-0">
                <div class="about__item">
                    <div class="about__item-num">
                        <span>15</span>
                    </div>
                    <div class="about__item-ttl">Уверенных лет&nbsp;на&nbsp;рынке</div>
                </div>
            </div>
            <div class="col-xl-3 col-6 mb-3 mb-xl-0">
                <div class="about__item">
                    <div class="about__item-num">
                        <span>20</span>
                    </div>
                    <div class="about__item-ttl">Специалистов по&nbsp;рынке</div>
                </div>
            </div>
            <div class="col-xl-3 col-6 mb-3 mb-xl-0">
                <div class="about__item">
                    <div class="about__item-num">
                        <span>500</span>
                    </div>
                    <div class="about__item-ttl">Квартир отремонтировано</div>
                </div>
            </div>
            <div class="col-xl-3 col-6 mb-3 mb-xl-0">
                <div class="about__item">
                    <div class="about__item-num">
                        <span>210</span>
                    </div>
                    <div class="about__item-ttl">Коттеджей отремонтировано</div>
                </div>
            </div>
        </div>
    </div>
</section>