<section class="about about--electro section--inner">
    <div class="container">
        <div class="section__ttl">Почему мы?</div>
        <div class="row">
            <div class="col-xl-3 col-6 mb-3 mb-xl-0">
                <div class="about__item">
                    <div class="about__item-num">
                        <span>Выезд</span>
                    </div>
                    <div class="about__item-ttl">бесплатный выезд электриков</div>
                </div>
            </div>
            <div class="col-xl-3 col-6 mb-3 mb-xl-0">
                <div class="about__item">
                    <div class="about__item-num">
                        <span>Любая <br> сложность</span>
                    </div>
                    <div class="about__item-ttl">Монтаж любой сложности</div>
                </div>
            </div>
            <div class="col-xl-3 col-6 mb-3 mb-xl-0">
                <div class="about__item">
                    <div class="about__item-num">
                        <span>Составление сметы</span>
                    </div>
                    <div class="about__item-ttl">Бесплатное составление сметы</div>
                </div>
            </div>
            <div class="col-xl-3 col-6 mb-3 mb-xl-0">
                <div class="about__item">
                    <div class="about__item-num">
                        <span>Доступность</span>
                    </div>
                    <div class="about__item-ttl">Работаем во&nbsp;всех районах Самары</div>
                </div>
            </div>
        </div>
    </div>
</section>