<section class="benefits section--inner">
    <svg class="benefits__decor" width="1920" height="806">
        <use xlink:href="#benefits__decor"></use>
    </svg>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-4 benefits__col">
                <div class="row">
                    <div class="col-12 mb-3 mb-xl-4">
                        <div class="benefits__item">
                            <div class="benefits__item-top d-flex align-items-center">
                                <svg width="54" height="48">
                                    <use xlink:href="#benefits__icon--1"></use>
                                </svg>
                                <span class="ml-2">Безупречные результаты 100%</span>
                            </div>
                            <div class="benefits__item-descr">Разнообразный и богатый опыт рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития.</div>
                        </div>
                    </div>
                    <div class="col-12 mb-3 mb-xl-4">
                        <div class="benefits__item">
                            <div class="benefits__item-top d-flex align-items-center">
                                <svg width="45" height="67">
                                    <use xlink:href="#benefits__icon--2"></use>
                                </svg>
                                <span class="ml-2">Аккуратные вежливые мастера</span>
                            </div>
                            <div class="benefits__item-descr">Разнообразный и богатый опыт рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития.</div>
                        </div>
                    </div>
                    <div class="col-12 mb-3 mb-xl-4">
                        <div class="benefits__item">
                            <div class="benefits__item-top d-flex align-items-center">
                                <svg width="51" height="51">
                                    <use xlink:href="#benefits__icon--3"></use>
                                </svg>
                                <span class="ml-2">Уникальная гарантия</span>
                            </div>
                            <div class="benefits__item-descr">Разнообразный и богатый опыт рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 d-none d-xl-block">
                <div class="benefits__dude-wrp">
                    <img class="benefits__dude" src="{{root}}assets/img/benefits__dude.png" alt="Director">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 benefits__col">
                <div class="row">
                    <div class="col-12 mb-3 mb-xl-4">
                        <div class="benefits__item">
                            <div class="benefits__item-top d-flex align-items-center">
                                <svg width="49" height="49">
                                    <use xlink:href="#benefits__icon--4"></use>
                                </svg>
                                <span class="ml-2">Многоуровневый контроль над качеством</span>
                            </div>
                            <div class="benefits__item-descr">Разнообразный и богатый опыт рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития.</div>
                        </div>
                    </div>
                    <div class="col-12 mb-3 mb-xl-4">
                        <div class="benefits__item">
                            <div class="benefits__item-top d-flex align-items-center">
                                <svg width="49" height="55">
                                    <use xlink:href="#benefits__icon--5"></use>
                                </svg>
                                <span class="ml-2">Оплата по&nbsp;факту</span>
                            </div>
                            <div class="benefits__item-descr">Разнообразный и богатый опыт рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития.</div>
                        </div>
                    </div>
                    <div class="col-12 mb-3 mb-xl-4">
                        <div class="benefits__item">
                            <div class="benefits__item-top d-flex align-items-center">
                                <svg width="58" height="49">
                                    <use xlink:href="#benefits__icon--6"></use>
                                </svg>
                                <span class="ml-2">Талантливые дизайн проекты</span>
                            </div>
                            <div class="benefits__item-descr">Разнообразный и богатый опыт рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>