<div class="blog__item">
    <div class="blog__item-image" style="background-image: url('{{root}}assets/img/blog__image--1.jpg')"></div>
    <div class="blog__item-date d-flex align-items-center">
        <svg width="19" height="23">
            <use xlink:href="#calendar"></use>
        </svg>
        <span class="ml-2">01 апрель 2020</span>
    </div>
    <a class="blog__item-ttl" href="#">Укладка плитки</a>
    <div class="blog__item-descr">В коротком видеоролике вы узнаете как оценивать ответственность и добросовестность подрядчика. На что обратить внимание? И к каким уловкам прибегают нечестные исполнители.</div>
</div>