<section class="blog section--inner">
    <div class="container">
        <div class="tac">
            <div class="section__ttl">Новые статьи</div>
        </div>
        <div class="blog__in row">
            <div class="col-sm-6 mb-4 mb-xl-5">
                {{> blog__item}}
            </div>
            <div class="col-sm-6 mb-4 mb-xl-5">
                {{> blog__item}}
            </div>
            <div class="col-sm-6 mb-4 mb-xl-5">
                {{> blog__item}}
            </div>
            <div class="col-sm-6 mb-4 mb-xl-5">
                {{> blog__item}}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn--big btn--yel" href="#">Еще больше статей по данной ссылке</a>
        </div>
    </div>
</section>