<section class="cost section--inner pt-0">
    <div class="container">
        <div class="section__ttl">Пример сметы</div>
        <div class="cost-table__wrp">
            <div class="cost-table mb-3 mb-xl-4">
                <div class="cost-table__header">
                    <div class="cost-table__row">
                        <div class="cost-table__col">
                            Наименование работ
                        </div>
                        <div class="cost-table__col">
                            Единица измерения
                        </div>
                        <div class="cost-table__col">
                            Стоимость(руб)
                        </div>
                    </div>
                </div>
                <div class="cost-table__body">
                    <div class="cost-table__row">
                        <div class="cost-table__col">Протяжка кабеля в гофре</div>
                        <div class="cost-table__col">м</div>
                        <div class="cost-table__col">2 000</div>
                    </div>
                    <div class="cost-table__row">
                        <div class="cost-table__col">Штробление стен(кирпич)</div>
                        <div class="cost-table__col">пм</div>
                        <div class="cost-table__col">3 000</div>
                    </div>
                    <div class="cost-table__row">
                        <div class="cost-table__col">Монтаж подрозетников</div>
                        <div class="cost-table__col">шт</div>
                        <div class="cost-table__col">5 000</div>
                    </div>
                    <div class="cost-table__row">
                        <div class="cost-table__col">Заделка штроб</div>
                        <div class="cost-table__col">пм</div>
                        <div class="cost-table__col">6 900</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn--yel btn--big cost__btn" data-src="#popup_call" data-fancybox type="button">Получить смету и расчет</button>
        </div>
    </div>
</section>