<section class="feed section--inner">
    <div class="container">
        <div class="tac">
            <div class="section__ttl mb-1">Остались вопросы?</div>
            <div class="feed__subttl mb-4">заполните форму ниже и наш менежер свяжется с вами в течении 10 мин</div>
            <form class="feed__form">
                <div class="row mb-3 mb-xl-5">
                    <div class="col-xl-4 col-sm-6 mb-3 mb-xl-0">
                        <input type="text" class="input--black w-100" placeholder="Имя">
                    </div>
                    <div class="col-xl-4 col-sm-6 mb-3 mb-xl-0">
                        <input type="tel" class="input--black js-tel w-100" placeholder="+7 (___) ___-__-__">
                    </div>
                    <div class="col-xl-4 col-sm-6 mb-3 mb-xl-0">
                        <input type="email" class="input--black w-100" placeholder="E-mail">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 col-sm-6 col-xl-4">
                        <a class="btn btn--big btn--yel w-100" href="#">Отправить заявку</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>