<section class="feed section--inner">
    <div class="container">
        <div class="tac">
            <div class="section__ttl mb-1">Довертесь профессионалам</div>
            <div class="feed__subttl mb-3">с бесплатной консультацией и и расчета стоимости</div>
            <div class="bold mb-3">Осталось только заполнит форму</div>
            <form class="feed__form">
                <div class="row justify-content-center mb-3 mb-xl-5">
                    <div class="col-xl-4 col-sm-6 mb-3 mb-xl-0">
                        <input type="text" class="input--black w-100" placeholder="Имя">
                    </div>
                    <div class="col-xl-4 col-sm-6 mb-3 mb-xl-0">
                        <input type="tel" class="input--black js-tel w-100" placeholder="+7 (___) ___-__-__">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 col-sm-6 col-xl-4">
                        <a class="btn btn--big btn--yel w-100" href="#">Узнать цену</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>