<div class="header">
    <div class="container">
        <div class="header__top d-flex justify-content-between align-items-center">
            <div class="header__soc d-none d-xl-flex align-items-center">
                <a class="header__soc-link" href="#">
                    <svg width="8" height="16">
                       <use xlink:href="#fb"></use>
                    </svg>
                </a>
                <a class="header__soc-link" href="#">
                    <svg width="23" height="16">
                       <use xlink:href="#yu"></use>
                    </svg>
                </a>
                <a class="header__soc-link" href="#">
                    <svg width="16" height="16">
                       <use xlink:href="#in"></use>
                    </svg>
                </a>
            </div>
            <div class="header__geo d-none d-xl-flex align-items-center">
                <svg width="14" height="16">
                    <use xlink:href="#geo"></use>
                </svg>
                <span class="ml-2">г. Самара, ул. Ленина 01</span>
            </div>
            <a class="header__top-logo" href="#">
                <svg width="123" height="48">
                    <use xlink:href="#logo"></use>
                </svg>
            </a>
            <a class="header__tel d-none d-sm-flex align-items-center" href="tel:88001001010">
                <svg width="17" height="16">
                    <use xlink:href="#tel"></use>
                </svg>
                <span class="ml-2">8 800 100 10 10</span>
            </a>
            <button class="btn btn--red" data-src="#popup_call" data-fancybox type="button">Заказать звонок</button>
            <button class="header__hamburger" type="button" data-src="#mobile-menu" data-fancybox><span></span></button>
        </div>
        <div class="header__bot" id="mobile-menu">
            <div class="d-flex flex-column flex-xl-row justify-content-between align-items-center">
                <a class="header__bot-logo" href="#">
                    <svg width="123" height="55">
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
                <hr>
                <nav class="header__nav d-flex flex-column align-items-xl-center flex-xl-row justify-content-around flex-grow-1">
                    <div class="header__nav-link-wrp">
                        <a class="header__nav-link" href="#">
                            <span>Главная</span>
                        </a>
                    </div>
                    <div class="header__nav-link-wrp header__nav-link-wrp--has-drop">
                        <a class="header__nav-link" href="#">
                            <span>Услуги</span>
                        </a>
                        <div class="header__nav-drop">
                            <a class="header__nav-drop-link" href="#">Ремонт в новостройке</a>
                            <a class="header__nav-drop-link" href="#">Ремонт под ключ</a>
                            <a class="header__nav-drop-link" href="#">Евроремонт</a>
                            <a class="header__nav-drop-link" href="#">Ремонт офиса</a>
                            <a class="header__nav-drop-link" href="#">Ремонт коттеджа</a>
                            <a class="header__nav-drop-link" href="#">Черновой ремонт</a>
                            <a class="header__nav-drop-link" href="#">Капитальный ремонт</a>
                            <a class="header__nav-drop-link" href="#">Дизайнерский ремонт</a>
                            <a class="header__nav-drop-link" href="#">Элитный ремонт</a>
                        </div>
                    </div>
                    <div class="header__nav-link-wrp header__nav-link-wrp--has-drop">
                        <a class="header__nav-link" href="#">
                            <span>Цены</span>
                        </a>
                        <div class="header__nav-drop">
                            <a class="header__nav-drop-link" href="#">Ремонт в новостройке</a>
                            <a class="header__nav-drop-link" href="#">Ремонт под ключ</a>
                            <a class="header__nav-drop-link" href="#">Евроремонт</a>
                            <a class="header__nav-drop-link" href="#">Ремонт офиса</a>
                            <a class="header__nav-drop-link" href="#">Ремонт коттеджа</a>
                        </div>
                    </div>
                    <div class="header__nav-link-wrp">
                        <a class="header__nav-link" href="#">
                            <span>Команда</span>
                        </a>
                    </div>
                    <div class="header__nav-link-wrp">
                        <a class="header__nav-link" href="#">
                            <span>Контакты</span>
                        </a>
                    </div>
                </nav>
                <hr>
                <div class="d-flex d-xl-none flex-column align-items-center">
                    <div class="header__soc d-flex align-items-center mb-3">
                        <a class="header__soc-link" href="#">
                            <svg width="8" height="16">
                                <use xlink:href="#fb"></use>
                            </svg>
                        </a>
                        <a class="header__soc-link" href="#">
                            <svg width="23" height="16">
                                <use xlink:href="#yu"></use>
                            </svg>
                        </a>
                        <a class="header__soc-link" href="#">
                            <svg width="16" height="16">
                                <use xlink:href="#in"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="header__geo d-flex align-items-center mb-3">
                        <svg width="14" height="16">
                            <use xlink:href="#geo"></use>
                        </svg>
                        <span class="ml-2 wt">г. Самара, ул. Ленина 01</span>
                    </div>
                    <a class="header__tel d-flex align-items-center" href="tel:88001001010">
                        <svg width="17" height="16">
                            <use xlink:href="#tel"></use>
                        </svg>
                        <span class="ml-2">8 800 100 10 10</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
