<section class="overviews section--inner pt-0">
    <div class="container">
        <div class="tac">
            <div class="section__ttl">Видеобзоры</div>
        </div>
        <div class="overviews__in row mb-2 mb-xl-5">
            <div class="col-sm-6 mb-3 mb-xl-0">
                <div class="overviews__item">
                    <div class="overviews__item-top" style="background-image: url('{{root}}assets/img/overviews__bg--1.jpg')">
                        <div class="overviews__item-top-in">
                            <button type="button" class="btn--watch overviews__item-btn">
                                <img src="{{root}}assets/img/view__button.png" alt="watch__button.png">
                            </button>
                            <div class="overviews__item-ttl">Как выбрать подрядчика</div>
                        </div>
                    </div>
                    <div class="overviews__item-descr">
                        В коротком видеоролике вы узнаете как оценивать ответственность и добросовестность подрядчика. На что обратить внимание? И к каким уловкам прибегают нечестные исполнители.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3 mb-xl-0">
                <div class="overviews__item">
                    <div class="overviews__item-top" style="background-image: url('{{root}}assets/img/overviews__bg--2.jpg')">
                        <div class="overviews__item-top-in">
                            <button type="button" class="btn--watch overviews__item-btn">
                                <img src="{{root}}assets/img/view__button.png" alt="watch__button.png">
                            </button>
                            <div class="overviews__item-ttl">Как выбрать подрядчика</div>
                        </div>
                    </div>
                    <div class="overviews__item-descr">
                        В коротком видеоролике вы узнаете как оценивать ответственность и добросовестность подрядчика. На что обратить внимание? И к каким уловкам прибегают нечестные исполнители.
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn--big" href="#">Больше видеообзоров на нашем Youtube канале</a>
        </div>
    </div>
</section>