<!--popup form-->
<div id="popup_call" class="popup__container" style="display:none">
    <div  class="popup__wrp popup_call__wrp">
        <form action="[[~[[*id]]]]" method="post" class="popup" autocomplete="off">
            <h3 class="section__subttl">Оставьте заявку</h3>
            <div class="popup_call__in d-flex flex-column">
                <input class="input--black mb-2 w-100" type="text" placeholder="Ваше имя" required="">
                <input class="input--black mb-2 w-100" type="tel" placeholder="Телефон" required="">
                <input class="input--black mb-3 mb-xl-4 w-100" type="email" placeholder="E-mail">
                <button type="submit" class="btn w-100">Заказать</button>
            </div>
        </form>
    </div>
</div>
<!--/popup form-->