<section class="portfolio portfolio--renovation section--inner">
    <div class="container">
        <div class="row mb-4 align-items-center">
            <div class="col-xl-8">
                <div class="section__ttl mb-0">Наши выполненные работы</div>
            </div>
        </div>
        <div class="portfolio__slider owl-carousel mb-5">
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="section__ttl wt">Евроремонт 3-х комнатной квартиры</div>
                                <div class="wt mb-2 mb-xl-4">
                                    <div class="bold mb-2 mb-xl-4">Задача:</div>
                                    <div>Грунтовка стен и пола</div>
                                    <div>Гидроизоляция пола смесью</div>
                                    <div>Штукатурка стен по маякам</div>
                                    <div>Шпатлевка стен</div>
                                    <div>Оклейка стен обоями</div>
                                    <div>Облицовка стен плиткой</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Площадь</span> объекта: 55 м2</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Сроки:</span> 34 дня</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Стоимость:</span> 115 000 руб</div>
                                </div>

                                <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                    <svg width="22" height="16">
                                        <use xlink:href="#camera"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="portfolio__gal mb-0">
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="section__ttl wt">Евроремонт 3-х комнатной квартиры</div>
                                <div class="wt mb-2 mb-xl-4">
                                    <div class="bold mb-2 mb-xl-4">Задача:</div>
                                    <div>Грунтовка стен и пола</div>
                                    <div>Гидроизоляция пола смесью</div>
                                    <div>Штукатурка стен по маякам</div>
                                    <div>Шпатлевка стен</div>
                                    <div>Оклейка стен обоями</div>
                                    <div>Облицовка стен плиткой</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Площадь</span> объекта: 55 м2</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Сроки:</span> 34 дня</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Стоимость:</span> 115 000 руб</div>
                                </div>

                                <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                    <svg width="22" height="16">
                                        <use xlink:href="#camera"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="portfolio__gal mb-0">
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="section__ttl wt">Евроремонт 3-х комнатной квартиры</div>
                                <div class="wt mb-2 mb-xl-4">
                                    <div class="bold mb-2 mb-xl-4">Задача:</div>
                                    <div>Грунтовка стен и пола</div>
                                    <div>Гидроизоляция пола смесью</div>
                                    <div>Штукатурка стен по маякам</div>
                                    <div>Шпатлевка стен</div>
                                    <div>Оклейка стен обоями</div>
                                    <div>Облицовка стен плиткой</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Площадь</span> объекта: 55 м2</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Сроки:</span> 34 дня</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Стоимость:</span> 115 000 руб</div>
                                </div>

                                <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                    <svg width="22" height="16">
                                        <use xlink:href="#camera"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="portfolio__gal mb-0">
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="section__ttl wt">Евроремонт 3-х комнатной квартиры</div>
                                <div class="wt mb-2 mb-xl-4">
                                    <div class="bold mb-2 mb-xl-4">Задача:</div>
                                    <div>Грунтовка стен и пола</div>
                                    <div>Гидроизоляция пола смесью</div>
                                    <div>Штукатурка стен по маякам</div>
                                    <div>Шпатлевка стен</div>
                                    <div>Оклейка стен обоями</div>
                                    <div>Облицовка стен плиткой</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Площадь</span> объекта: 55 м2</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Сроки:</span> 34 дня</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Стоимость:</span> 115 000 руб</div>
                                </div>

                                <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                    <svg width="22" height="16">
                                        <use xlink:href="#camera"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="portfolio__gal mb-0">
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="section__ttl wt">Евроремонт 3-х комнатной квартиры</div>
                                <div class="wt mb-2 mb-xl-4">
                                    <div class="bold mb-2 mb-xl-4">Задача:</div>
                                    <div>Грунтовка стен и пола</div>
                                    <div>Гидроизоляция пола смесью</div>
                                    <div>Штукатурка стен по маякам</div>
                                    <div>Шпатлевка стен</div>
                                    <div>Оклейка стен обоями</div>
                                    <div>Облицовка стен плиткой</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Площадь</span> объекта: 55 м2</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Сроки:</span> 34 дня</div>
                                    <div class="mt-3 mt-xl-4"><span class="bold">Стоимость:</span> 115 000 руб</div>
                                </div>

                                <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                    <svg width="22" height="16">
                                        <use xlink:href="#camera"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="portfolio__gal mb-0">
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>