<section class="portfolio section--inner">
    <div class="container">
        <div class="row mb-4 align-items-center">
            <div class="col-xl-8">
                <div class="section__ttl mb-0">Наши выполненные работы</div>
            </div>
        </div>
        <div class="portfolio__slider owl-carousel mb-5">
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                <svg width="22" height="16">
                                    <use xlink:href="#camera"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="portfolio__gal">
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                        </div>
                        <div class="portfolio__descr">
                            <div class="mb-3"><span class="bold">Задача:</span> Отделка коттеджа 6-я просека</div>
                            <div class="bold mb-2">Описание проекта:</div>
                            <div class="mb-3">Косметичекий ремонт, демонтажные работы, ремонт пола и натяжные потолки</div>
                            <div class="mb-3"><span class="bold">Площадь объекта:</span> 10м<sup>2</sup></div>
                            <div class="mb-3"><span class="bold">Сроки:</span> 60 дней</div>
                            <div><span class="bold">Стоимость:</span> 320 000 руб.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                <svg width="22" height="16">
                                    <use xlink:href="#camera"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="portfolio__gal">
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                        </div>
                        <div class="portfolio__descr">
                            <div class="mb-3"><span class="bold">Задача:</span> Отделка коттеджа 6-я просека</div>
                            <div class="bold mb-2">Описание проекта:</div>
                            <div class="mb-3">Косметичекий ремонт, демонтажные работы, ремонт пола и натяжные потолки</div>
                            <div class="mb-3"><span class="bold">Площадь объекта:</span> 10м<sup>2</sup></div>
                            <div class="mb-3"><span class="bold">Сроки:</span> 60 дней</div>
                            <div><span class="bold">Стоимость:</span> 320 000 руб.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                <svg width="22" height="16">
                                    <use xlink:href="#camera"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="portfolio__gal">
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                        </div>
                        <div class="portfolio__descr">
                            <div class="mb-3"><span class="bold">Задача:</span> Отделка коттеджа 6-я просека</div>
                            <div class="bold mb-2">Описание проекта:</div>
                            <div class="mb-3">Косметичекий ремонт, демонтажные работы, ремонт пола и натяжные потолки</div>
                            <div class="mb-3"><span class="bold">Площадь объекта:</span> 10м<sup>2</sup></div>
                            <div class="mb-3"><span class="bold">Сроки:</span> 60 дней</div>
                            <div><span class="bold">Стоимость:</span> 320 000 руб.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                <svg width="22" height="16">
                                    <use xlink:href="#camera"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="portfolio__gal">
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                        </div>
                        <div class="portfolio__descr">
                            <div class="mb-3"><span class="bold">Задача:</span> Отделка коттеджа 6-я просека</div>
                            <div class="bold mb-2">Описание проекта:</div>
                            <div class="mb-3">Косметичекий ремонт, демонтажные работы, ремонт пола и натяжные потолки</div>
                            <div class="mb-3"><span class="bold">Площадь объекта:</span> 10м<sup>2</sup></div>
                            <div class="mb-3"><span class="bold">Сроки:</span> 60 дней</div>
                            <div><span class="bold">Стоимость:</span> 320 000 руб.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                <svg width="22" height="16">
                                    <use xlink:href="#camera"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="portfolio__gal">
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--4.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--4.jpg')"></div>
                            <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--5.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--5.jpg')"></div>
                        </div>
                        <div class="portfolio__descr">
                            <div class="mb-3"><span class="bold">Задача:</span> Отделка коттеджа 6-я просека</div>
                            <div class="bold mb-2">Описание проекта:</div>
                            <div class="mb-3">Косметичекий ремонт, демонтажные работы, ремонт пола и натяжные потолки</div>
                            <div class="mb-3"><span class="bold">Площадь объекта:</span> 10м<sup>2</sup></div>
                            <div class="mb-3"><span class="bold">Сроки:</span> 60 дней</div>
                            <div><span class="bold">Стоимость:</span> 320 000 руб.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn--big btn--yel" href="#">Смотреть все проекты</a>
        </div>
    </div>
</section>