<section class="portfolio section--inner">
    <div class="container">
        <div class="row mb-4 align-items-center">
            <div class="col-xl-8">
                <div class="section__ttl mb-0">Примеры готовых работ</div>
            </div>
        </div>
        <div class="portfolio__slider owl-carousel mb-5">
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                <svg width="22" height="16">
                                    <use xlink:href="#camera"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-6 h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div class="portfolio__gal">
                                <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                                <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            </div>
                            <div class="portfolio__descr">
                                <div class="mb-3"><span class="bold">Объект:</span> г.Самара ул.Ленина д.1</div>
                                <div class="mb-3"><span class="bold">Задача:</span> Монтаж электропроводки</div>
                                <div class="mb-3"><span class="bold">Стены:</span> Пеноблок</div>
                                <div class="mb-3"><span class="bold">Прокладка кабеля:</span> По полу</div>
                                <div class="mb-3"><span class="bold">Количество точек:</span> 25 штук</div>
                                <div class="mb-3"><span class="bold">Материалы:</span> Кабель Конкорд, Автоматы ABB</div>
                                <div class="mb-3"><span class="bold">Дом:</span> Новостройка 1 комнатная</div>
                                <div class="mb-3"><span class="bold">Время исполнения:</span> 2 дня</div>
                            </div>
                            <div class="section__ttl mb-0">Итого: 25 000 руб/м2</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                <svg width="22" height="16">
                                    <use xlink:href="#camera"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-6 h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div class="portfolio__gal">
                                <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                                <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            </div>
                            <div class="portfolio__descr">
                                <div class="mb-3"><span class="bold">Объект:</span> г.Самара ул.Ленина д.1</div>
                                <div class="mb-3"><span class="bold">Задача:</span> Монтаж электропроводки</div>
                                <div class="mb-3"><span class="bold">Стены:</span> Пеноблок</div>
                                <div class="mb-3"><span class="bold">Прокладка кабеля:</span> По полу</div>
                                <div class="mb-3"><span class="bold">Количество точек:</span> 25 штук</div>
                                <div class="mb-3"><span class="bold">Материалы:</span> Кабель Конкорд, Автоматы ABB</div>
                                <div class="mb-3"><span class="bold">Дом:</span> Новостройка 1 комнатная</div>
                                <div class="mb-3"><span class="bold">Время исполнения:</span> 2 дня</div>
                            </div>
                            <div class="section__ttl mb-0">Итого: 25 000 руб/м2</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                <svg width="22" height="16">
                                    <use xlink:href="#camera"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-6 h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div class="portfolio__gal">
                                <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                                <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            </div>
                            <div class="portfolio__descr">
                                <div class="mb-3"><span class="bold">Объект:</span> г.Самара ул.Ленина д.1</div>
                                <div class="mb-3"><span class="bold">Задача:</span> Монтаж электропроводки</div>
                                <div class="mb-3"><span class="bold">Стены:</span> Пеноблок</div>
                                <div class="mb-3"><span class="bold">Прокладка кабеля:</span> По полу</div>
                                <div class="mb-3"><span class="bold">Количество точек:</span> 25 штук</div>
                                <div class="mb-3"><span class="bold">Материалы:</span> Кабель Конкорд, Автоматы ABB</div>
                                <div class="mb-3"><span class="bold">Дом:</span> Новостройка 1 комнатная</div>
                                <div class="mb-3"><span class="bold">Время исполнения:</span> 2 дня</div>
                            </div>
                            <div class="section__ttl mb-0">Итого: 25 000 руб/м2</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                <svg width="22" height="16">
                                    <use xlink:href="#camera"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-6 h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div class="portfolio__gal">
                                <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                                <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            </div>
                            <div class="portfolio__descr">
                                <div class="mb-3"><span class="bold">Объект:</span> г.Самара ул.Ленина д.1</div>
                                <div class="mb-3"><span class="bold">Задача:</span> Монтаж электропроводки</div>
                                <div class="mb-3"><span class="bold">Стены:</span> Пеноблок</div>
                                <div class="mb-3"><span class="bold">Прокладка кабеля:</span> По полу</div>
                                <div class="mb-3"><span class="bold">Количество точек:</span> 25 штук</div>
                                <div class="mb-3"><span class="bold">Материалы:</span> Кабель Конкорд, Автоматы ABB</div>
                                <div class="mb-3"><span class="bold">Дом:</span> Новостройка 1 комнатная</div>
                                <div class="mb-3"><span class="bold">Время исполнения:</span> 2 дня</div>
                            </div>
                            <div class="section__ttl mb-0">Итого: 25 000 руб/м2</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio__image portfolio__image--main" style="background-image: url('{{root}}assets/img/portfolio__image--1.jpg')">
                            <button class="btn portfolio__btn" type="button" data-fancybox data-src="{{root}}assets/img/portfolio__image--1.jpg">
                                <svg width="22" height="16">
                                    <use xlink:href="#camera"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-6 h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div class="portfolio__gal">
                                <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--2.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--2.jpg')"></div>
                                <div class="portfolio__gal-image portfolio__image" data-fancybox data-src="{{root}}assets/img/portfolio__image--3.jpg" style="background-image: url('{{root}}assets/img/portfolio__image--3.jpg')"></div>
                            </div>
                            <div class="portfolio__descr">
                                <div class="mb-3"><span class="bold">Объект:</span> г.Самара ул.Ленина д.1</div>
                                <div class="mb-3"><span class="bold">Задача:</span> Монтаж электропроводки</div>
                                <div class="mb-3"><span class="bold">Стены:</span> Пеноблок</div>
                                <div class="mb-3"><span class="bold">Прокладка кабеля:</span> По полу</div>
                                <div class="mb-3"><span class="bold">Количество точек:</span> 25 штук</div>
                                <div class="mb-3"><span class="bold">Материалы:</span> Кабель Конкорд, Автоматы ABB</div>
                                <div class="mb-3"><span class="bold">Дом:</span> Новостройка 1 комнатная</div>
                                <div class="mb-3"><span class="bold">Время исполнения:</span> 2 дня</div>
                            </div>
                            <div class="section__ttl mb-0">Итого: 25 000 руб/м2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn--big btn--yel" href="#">Смотреть все проекты</a>
        </div>
    </div>
</section>