<section class="questions section--inner">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-xl-8 mb-3 mb-xl-4 order-1">
                <div class="section__ttl mb-0">Ответы на частые вопросы</div>
            </div>
            <div class="col-xl-4 mb-3 mb-xl-4 order-3 order-xl-2">
                <div class="section__ttl mb-0">У вас есть вопросы</div>
            </div>
            <div class="col-xl-8 order-2 order-xl-3 mb-3 mb-xl-0">
                <div class="questions__in h-100 d-flex flex-column justify-content-center">
                    <div class="questions__item">
                        <div class="questions__item-top">
                            <span>Выез замерщика и составление смеры - платные услуги?</span>&nbsp;<div class="questions__item-btn"></div>
                        </div>
                        <div class="questions__item-answer">Замерщик осматривает квартиру и подготавливает подробную смету абсолютно бесплатно.</div>
                    </div>
                    <div class="questions__item">
                        <div class="questions__item-top">
                            <span>Кто закупает материал?</span>
                            <div class="questions__item-btn"></div>
                        </div>
                        <div class="questions__item-answer">Замерщик осматривает квартиру и подготавливает подробную смету абсолютно бесплатно.</div>
                    </div>
                    <div class="questions__item">
                        <div class="questions__item-top">
                            <span>Как происходит оплата?</span>
                            <div class="questions__item-btn"></div>
                        </div>
                        <div class="questions__item-answer">Замерщик осматривает квартиру и подготавливает подробную смету абсолютно бесплатно.</div>
                    </div>
                    <div class="questions__item">
                        <div class="questions__item-top">
                            <span>Сколько времени занимает ремонт квартиры?</span>
                            <div class="questions__item-btn"></div>
                        </div>
                        <div class="questions__item-answer">Замерщик осматривает квартиру и подготавливает подробную смету абсолютно бесплатно.</div>
                    </div>
                    <div class="questions__item">
                        <div class="questions__item-top">
                            <span>Выез замерщика и составление смеры - платные услуги?</span>&nbsp;<div class="questions__item-btn"></div>
                        </div>
                        <div class="questions__item-answer">Замерщик осматривает квартиру и подготавливает подробную смету абсолютно бесплатно.</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 order-4">
                <form class="questions__form">
                    <input type="text" placeholder="Имя" class="mb-2 mb-xl-3 w-100">
                    <input type="tel" placeholder="+7 (___) ____-__-__" class="mb-2 mb-xl-3 w-100">
                    <input type="email" placeholder="E-mail" class="mb-2 mb-xl-3 w-100">
                    <textarea rows="3" class="mb-2 mb-xl-4 w-100" placeholder="Ваш вопрос..."></textarea>
                    <button type="submit" class="btn btn--wt w-100">Задать вопрос</button>
                </form>
            </div>
        </div>
    </div>
</section>