<section class="ren-calc section--inner">
    <div class="container">
        <div class="tac">
            <div class="section__ttl">Калькулятор ремонта</div>
        </div>
        <div class="ren-calc-tabs tabs">
            <div class="tabs__list row">
                <div class="col-xl-3 price-tabs__item tabs__list-item"><span>Косметический</span></div>
                <div class="col-xl-3 price-tabs__item tabs__list-item"><span>Капитальный</span></div>
                <div class="col-xl-3 price-tabs__item tabs__list-item"><span>Ремонт под ключ</span></div>
                <div class="col-xl-3 price-tabs__item tabs__list-item"><span>Евроремонт</span></div>
            </div>
            <div class="tabs__container">
                <div class="tabs__content-item">
                    <form>
                        <hr>
                        <div class="row align-items-center py-2 py-xl-4">
                            <div class="col-xl-5 mb-3 mb-xl-4">
                                <select class="js-select w-100">
                                    <option value="Жилая комната">Жилая комната</option>
                                    <option value="Жилая комната">Жилая комната</option>
                                    <option value="Жилая комната">Жилая комната</option>
                                    <option value="Жилая комната">Жилая комната</option>
                                </select>
                            </div>
                            <div class="col-xl-6 offset-xl-1 mb-3 mb-xl-4">
                                <div class="d-flex flex-column flex-xl-row align-">
                                    <div class="mr-4 align-self-xl-center mb-2 mb-xl-0">Площадь&nbsp;объекта</div>
                                    <div class="range-group d-flex align-items-center w-100">
                                        <div class="quantity w-100 d-flex justify-content-center mr-5">
                                            <button type="button" class="quantity-minus"><span>-</span></button>
                                            <input type="number" min="1" max="150" value="25" class="quantity-num">
                                            <button type="button" class="quantity-plus"><span>+</span></button>
                                        </div>
                                        <div class="range__slider js-range-slider w-100">
                                            <div class="range__slider-handle ui-slider-handle js-handle_1"><span></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 mb-3 mb-xl-4">
                                <select class="js-select w-100">
                                    <option value="Косметический ремонт">Косметический ремонт</option>
                                    <option value="Косметический ремонт">Косметический ремонт</option>
                                    <option value="Косметический ремонт">Косметический ремонт</option>
                                    <option value="Косметический ремонт">Косметический ремонт</option>
                                </select>
                            </div>
                            <div class="col-xl-6 offset-xl-1 mb-3 mb-xl-4">
                                <span class="bold">Косметический ремонт ремонт</span>, предполагающий краткий текст
                            </div>
                        </div>
                        <hr>
                        <div class="ren-calc__total py-2 py-xl-4 d-flex flex-wrap justify-content-around justify-content-xl-between">
                            <div class="ren-calc__total-item mb-3 mb-xl-0">
                                <svg width="37" height="40">
                                    <use xlink:href="#ren-calc__total--1"></use>
                                </svg>
                                <div class="ren-calc__total-item-ttl">Стоимость ремонта</div>
                                <div class="ren-calc__total-item-price">
                                    <span class="ren-calc__total-item-val">15300</span> руб.
                                </div>
                            </div>
                            <div class="ren-calc__total-item mb-3 mb-xl-0">
                                <svg width="45" height="42">
                                    <use xlink:href="#ren-calc__total--2"></use>
                                </svg>
                                <div class="ren-calc__total-item-ttl">Стоимость материалов:</div>
                                <div class="ren-calc__total-item-price">
                                    <span class="ren-calc__total-item-val">2500</span> руб.
                                </div>
                            </div>
                            <div class="ren-calc__total-item mb-3 mb-xl-0">
                                <svg width="40" height="40">
                                    <use xlink:href="#ren-calc__total--3"></use>
                                </svg>
                                <div class="ren-calc__total-item-ttl">Примерные сроки:</div>
                                <div class="ren-calc__total-item-price">
                                    <span class="ren-calc__total-item-val">7</span> дней
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-sm-6 col-xl-3 mb-3 mb-xl-0">
                                <input class="js-tel w-100" type="tel" placeholder="+7 (___) ___-__-__">
                            </div>
                            <div class="col-sm-6 col-xl-3">
                                <button class="btn btn--big btn--yel w-100" type="submit">Начать ремонт</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>