<section class="serv section--inner pt-0">
    <div class="container">
        <div class="section__ttl">Что мы делаем?</div>
        <div class="row">
            <div class="col-6 col-xl-3 col-sm-4 mb-4">
                <a class="serv__item" href="#">
                    <div class="serv__item-img" style="background-image: url('{{root}}assets/img/serv-img--1.jpg')"></div>
                    <div class="bold mb-1">Косметический ремонт</div>
                    <div>от 1 500 руб за м<sup>2</sup></div>
                </a>
            </div>
            <div class="col-6 col-xl-3 col-sm-4 mb-4">
                <a class="serv__item" href="#">
                    <div class="serv__item-img" style="background-image: url('{{root}}assets/img/serv-img--2.jpg')"></div>
                    <div class="bold mb-1">Копитальный ремонт</div>
                    <div>от 3 500 руб за м<sup>2</sup></div>
                </a>
            </div>
            <div class="col-6 col-xl-3 col-sm-4 mb-4">
                <a class="serv__item" href="#">
                    <div class="serv__item-img" style="background-image: url('{{root}}assets/img/serv-img--3.jpg')"></div>
                    <div class="bold mb-1">Дизайнерский ремонт</div>
                    <div>от 5 500 руб за м<sup>2</sup></div>
                </a>
            </div>
            <div class="col-6 col-xl-3 col-sm-4 mb-4">
                <a class="serv__item" href="#">
                    <div class="serv__item-img" style="background-image: url('{{root}}assets/img/serv-img--4.jpg')"></div>
                    <div class="bold mb-1">Элитный ремонт</div>
                    <div>от 7 500 руб за м<sup>2</sup></div>
                </a>
            </div>
            <div class="col-6 col-xl-3 col-sm-4 mb-4">
                <a class="serv__item" href="#">
                    <div class="serv__item-img" style="background-image: url('{{root}}assets/img/serv-img--5.jpg')"></div>
                    <div class="bold mb-1">Евроремонт</div>
                    <div>от 1 500 руб за м<sup>2</sup></div>
                </a>
            </div>
            <div class="col-6 col-xl-3 col-sm-4 mb-4">
                <a class="serv__item" href="#">
                    <div class="serv__item-img" style="background-image: url('{{root}}assets/img/serv-img--6.jpg')"></div>
                    <div class="bold mb-1">Ремонт под ключ</div>
                    <div>от 3 500 руб за м<sup>2</sup></div>
                </a>
            </div>
            <div class="col-6 col-xl-3 col-sm-4 mb-4">
                <a class="serv__item" href="#">
                    <div class="serv__item-img" style="background-image: url('{{root}}assets/img/serv-img--7.jpg')"></div>
                    <div class="bold mb-1">Ремонт в новостройке</div>
                    <div>от 5 500 руб за м<sup>2</sup></div>
                </a>
            </div>
            <div class="col-6 col-xl-3 col-sm-4 mb-4">
                <a class="serv__item" href="#">
                    <div class="serv__item-img" style="background-image: url('{{root}}assets/img/serv-img--8.jpg')"></div>
                    <div class="bold mb-1">Черновой ремонт</div>
                    <div>от 7 500 руб за м<sup>2</sup></div>
                </a>
            </div>
        </div>
    </div>
</section>