<section class="serv--electro section--inner">
    <div class="container">
        <div class="tac">
            <div class="section__ttl">Производим электромонтаж на любых объектах</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 mb-3 mb-xl-4">
                <div class="serv--electro__item">
                    <div class="serv--electro__item-top" style="background-image: url('{{root}}assets/img/serv--electro__img--1.jpg');"></div>
                    <div class="serv--electro__item-bot">
                        <div class="bold">В хрущевке:</div>
                        <div class="bold mb-2 mb-xl-3">Во вторичке и сталинском доме</div>
                        <div class="mb-3 mb-xl-3">Делаем электромонтаж по полу и по потолку</div>
                        <div>Срок работ в 1-ком квартире 1-2 дня</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3 mb-xl-4">
                <div class="serv--electro__item">
                    <div class="serv--electro__item-top" style="background-image: url('{{root}}assets/img/serv--electro__img--2.jpg');"></div>
                    <div class="serv--electro__item-bot">
                        <div class="bold">В новостройке:</div>
                        <div class="bold mb-2 mb-xl-3">В жилых и не жилых помещениях</div>
                        <div class="mb-3 mb-xl-3">Делаем электромонтаж по полу и по потолку</div>
                        <div>Срок работ в 1-ком квартире 1-2 дня</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="serv--electro__item">
                    <div class="serv--electro__item-top" style="background-image: url('{{root}}assets/img/serv--electro__img--3.jpg');"></div>
                    <div class="serv--electro__item-bot">
                        <div class="bold">В частном доме:</div>
                        <div class="bold mb-2 mb-xl-3">В пентхаусе и в коттедже</div>
                        <div class="mb-3 mb-xl-3">Делаем электромонтаж по полу и по потолку</div>
                        <div>Срок работ в 1-ком квартире 1-2 дня</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>