<section class="team section--inner">
    <div class="container">
        <div class="section__ttl">Наша команда</div>
        <div class="team__descr">
            <div class="bold">Наша команда на рынке уже более 5 лет.</div>
            <div class="mb-4">Каждый вид ремонтных работ приводит несколько наших узкоспециализированых работников.</div>
            <div><span class="bold">В нашей команде:</span> маляры. облицовщики - плитоники, бетонщики, столяры, Электромонтаж, установка сантехники или монтаж отопительной системы проводит мастер с соответсвующим допуском</div>
        </div>
        <div class="team__in row mb-2 mb-xl-5">
            <div class="col-xl-3 col-sm-6 mb-4 mb-xl-0">
                <div class="team__item">
                    <div class="team__item-image-wrp">
                        <div class="team__item-image" style="background-image: url('{{root}}assets/img/team__image--1.png')"></div>
                    </div>
                    <div class="team__item-ttl">Иванов Иван Иванович</div>
                    <div class="team__item-pos">Прораб</div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4 mb-xl-0">
                <div class="team__item">
                    <div class="team__item-image-wrp">
                        <div class="team__item-image" style="background-image: url('{{root}}assets/img/team__image--1.png')"></div>
                    </div>
                    <div class="team__item-ttl">Иванов Иван Иванович</div>
                    <div class="team__item-pos">Прораб</div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4 mb-xl-0">
                <div class="team__item">
                    <div class="team__item-image-wrp">
                        <div class="team__item-image" style="background-image: url('{{root}}assets/img/team__image--1.png')"></div>
                    </div>
                    <div class="team__item-ttl">Иванов Иван Иванович</div>
                    <div class="team__item-pos">Прораб</div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4 mb-xl-0">
                <div class="team__item">
                    <div class="team__item-image-wrp">
                        <div class="team__item-image" style="background-image: url('{{root}}assets/img/team__image--1.png')"></div>
                    </div>
                    <div class="team__item-ttl">Иванов Иван Иванович</div>
                    <div class="team__item-pos">Прораб</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn--big btn--yel" href="#">Все участники команды</a>
        </div>

    </div>
</section>