<section class="team--electro section--inner">
    <div class="container">
        <div class="section__ttl">У нас в команде только профессионалы</div>
        <div class="row mb-3 mb-xl-4">
            <div class="col-xl-5 mb-3 mb-xl-0">
                <div class="team--electro__image-wrp">
                    <div class="team--electro__image" style="background-image: url('{{root}}assets/img/team__image--1.png')"></div>
                </div>
            </div>
            <div class="col-xl-7 d-flex flex-column justify-content-between">
                <div>
                    <div class="section__subttl mb-2 mb-xl-2">Руслан Юзеев</div>
                    <div class="bold mb-2 mb-xl-2">Старший инженер-электрик</div>
                    <div class="mb-2 mb-xl-4">дипломированный инженер-электрик</div>
                    <div class="team--electro__descr">
                        Руслан профессионально разбирается в правилах устройства электроустановок ( ПУЭ ) и СНиП-регламентирующих производство электромонтажных работ. Это позволяет нам проектировать и выполнять электромонтажные работы любой сложности.
                    </div>
                </div>
                <div>
                    <div class="bold mb-2 mb-xl-3">Диплом:</div>
                    <div class="team--electro__cert" data-src="{{root}}assets/img/team--electro-cert.jpg" data-fancybox="" style="background-image: url('{{root}}assets/img/team--electro-cert.jpg')"></div>
                </div>

            </div>
        </div>
        <div class="team--electro__descr">
            При ремонте любой квартиры важное внимание нужно уделить грамотной разводке проводки. Монтаж электропроводки - очень ответственная работа, которая в дальнейшем влияет на хорошее функционирование объекта и его безопасность.
        </div>
    </div>
</section>