<section class="test section--inner">
    <div class="container">
        <svg class="test__decor test__decor--1" width="156" height="127">
            <use xlink:href="#test-decor"></use>
        </svg>
        <div class="row mb-4">
            <div class="col-xl-8">
                <div class="section__ttl mb-0">Отзывы наших клиентов</div>
            </div>
        </div>
        <div class="test__slider owl-carousel mb-5">
            <div class="test__item">
                <div class="row no-gutters">
                    <div class="col-xl-4">
                        <div class="test__info">
                            <div class="test__info-img order-1" style="background-image: url('{{root}}assets/img/test__info-img--1.jpg')"></div>
                            <div class="test__info-descr order-2 order-sm-3 order-xl-2">
                                <div class="mb-1 bold">Объект:</div>
                                <div class="mb-3">Квартира</div>
                                <div class="mb-1 bold">Вид ремонта:</div>
                                <div class="mb-3">Косметический</div>
                                <div class="mb-1 bold">Площадь:</div>
                                <div class="mb-3">77 кв.м<sup>2</sup></div>
                            </div>
                            <div class="section__subttl mb-0 order-3 order-sm-2 order-xl-3">Иванова <br> Надежда</div>
                            <div class="bold red d-flex flex-column justify-content-xl-end order-4">
                                <div>Стоимость:</div>
                                <div>320 000 рублей</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="test__video h-100" style="background-image: url('{{root}}assets/img/test__info-bg--1.jpg')">
                            <button type="button" class="btn--watch">
                                <img src="{{root}}assets/img/view__button.png" alt="watch__button.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="test__item">
                <div class="row no-gutters">
                    <div class="col-xl-4">
                        <div class="test__info">
                            <div class="test__info-img order-1" style="background-image: url('{{root}}assets/img/test__info-img--1.jpg')"></div>
                            <div class="test__info-descr order-2 order-sm-3 order-xl-2">
                                <div class="mb-1 bold">Объект:</div>
                                <div class="mb-3">Квартира</div>
                                <div class="mb-1 bold">Вид ремонта:</div>
                                <div class="mb-3">Косметический</div>
                                <div class="mb-1 bold">Площадь:</div>
                                <div class="mb-3">77 кв.м<sup>2</sup></div>
                            </div>
                            <div class="section__subttl mb-0 order-3 order-sm-2 order-xl-3">Иванова <br> Надежда</div>
                            <div class="bold red d-flex flex-column justify-content-xl-end order-4">
                                <div>Стоимость:</div>
                                <div>320 000 рублей</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="test__video h-100" style="background-image: url('{{root}}assets/img/test__info-bg--1.jpg')">
                            <button type="button" class="btn--watch">
                                <img src="{{root}}assets/img/view__button.png" alt="watch__button.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="test__item">
                <div class="row no-gutters">
                    <div class="col-xl-4">
                        <div class="test__info">
                            <div class="test__info-img order-1" style="background-image: url('{{root}}assets/img/test__info-img--1.jpg')"></div>
                            <div class="test__info-descr order-2 order-sm-3 order-xl-2">
                                <div class="mb-1 bold">Объект:</div>
                                <div class="mb-3">Квартира</div>
                                <div class="mb-1 bold">Вид ремонта:</div>
                                <div class="mb-3">Косметический</div>
                                <div class="mb-1 bold">Площадь:</div>
                                <div class="mb-3">77 кв.м<sup>2</sup></div>
                            </div>
                            <div class="section__subttl mb-0 order-3 order-sm-2 order-xl-3">Иванова <br> Надежда</div>
                            <div class="bold red d-flex flex-column justify-content-xl-end order-4">
                                <div>Стоимость:</div>
                                <div>320 000 рублей</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="test__video h-100" style="background-image: url('{{root}}assets/img/test__info-bg--1.jpg')">
                            <button type="button" class="btn--watch">
                                <img src="{{root}}assets/img/view__button.png" alt="watch__button.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg class="test__decor test__decor--2" width="156" height="127">
            <use xlink:href="#test-decor"></use>
        </svg>
        <div class="d-flex justify-content-center">
            <a class="btn btn--big btn--yel" href="#">Заказать такой же ремонт</a>
        </div>
    </div>
</section>