<section class="work section--inner">
    <div class="container">
        <div class="section__ttl">Как мы работаем?</div>
        <div class="work__in pt-3">
            <div class="work__item">
                <div class="work__item-top">
                    <div class="work__item-num">
                        <span>1</span>
                    </div>
                    <svg width="70" height="70">
                        <use xlink:href="#work__icon--1"></use>
                    </svg>
                </div>
                <div class="work__item-ttl">Оставить заявку</div>
            </div>
            <div class="work__item">
                <div class="work__item-top">
                    <div class="work__item-num">
                        <span>2</span>
                    </div>
                    <svg width="80" height="71">
                        <use xlink:href="#work__icon--2"></use>
                    </svg>
                </div>
                <div class="work__item-ttl">Сделать замеры</div>
            </div>
            <div class="work__item">
                <div class="work__item-top">
                    <div class="work__item-num">
                        <span>3</span>
                    </div>
                    <svg width="58" height="70">
                        <use xlink:href="#work__icon--3"></use>
                    </svg>
                </div>
                <div class="work__item-ttl">Составить смету, подписать договор</div>
            </div>
            <div class="work__item">
                <div class="work__item-top">
                    <div class="work__item-num">
                        <span>4</span>
                    </div>
                    <svg width="87" height="70">
                        <use xlink:href="#work__icon--4"></use>
                    </svg>
                </div>
                <div class="work__item-ttl">Выполнение работы и&nbsp;поэтапная оплата </div>
            </div>
            <div class="work__item">
                <div class="work__item-top">
                    <div class="work__item-num">
                        <span>5</span>
                    </div>
                    <svg width="84" height="71">
                        <use xlink:href="#work__icon--5"></use>
                    </svg>
                </div>
                <div class="work__item-ttl">Завершение работ и&nbsp;сдача объекта</div>
            </div>
        </div>
    </div>
</section>